/collisions.pyc
/collisions2.pyc
/fast_rect_collision.pyc
/gameclass.pyc
/glo.pyc
/ontology.pyc
/players.pyc
/polygons.pyc
/rayon.pyc
/sprite.pyc
/spritebuilder.pyc
/spritesheet_functions.pyc
/__pycache__